x64/
compiled/
graph/
msvc/kernel/kernel.sln
My Advisor Results - PPR/

.kdev4
.idea
nbproject

# Visual Studio 2015 cache/options directory
.vs

# NUNIT
*.VisualState.xml

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt


# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

#doc
*.aux
*.log
doc/doc.pdf
*.toc
